{:up ["ALTER TABLE auctions ADD COLUMN IF NOT EXISTS open boolean NOT NULL DEFAULT true;"
      "ALTER TABLE auctions ALTER COLUMN id SET DATA TYPE bigint;"]
 :down ["ALTER TABLE auctions DROP COLUMN IF EXISTS open;"]}
